fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
python-multipart
PyJWT
bcrypt
passlib
streamlit
python-jose
cryptography
langchain
langchain-google-genai
langgraph
chromadb
